

.mat-toolbar {
  background: white;
  color: black;
  padding: 72px 144px;
  font: 500 30px "fanwood-text";
}

.header-ul {
  display: flex;
  width: 100%;
  align-items: center;
}

.header-right {
  flex: 1 1 auto;
}

.filler {
  height: 182px;
}

.mat-toolbar-single-row {
  height: 158px;
}

.logo {
  height: 100%;
  width: 42px;
}

.title {
  //background: #725A9A;
 // color: #725A9A;
  padding: 2px 8px;
  border-radius: 2px;
  font-weight: 500;
  align-items: center;
  //font-family: "cormorant-garamond";
  font-family: "oswald";
  font-size: 32px;
  em {
    font-family: "niconne";
  }
}

.example-header {
  position: fixed;
  z-index: 100;
  opacity: 0.7;
  font-weight: 600;
  font-size: 22px;
}

.example-footer {
  position: absolute;
  bottom: -88px;
  left: 0;
  right: 0;
  z-index: 100;
  margin-top: 128px;
}
