.mat-toolbar {
  background: white;
  color: black;
}

.header-ul {
  display: flex;
  width: 100%;
  align-items: center;
}

.header-right {
  flex: 1 1 auto;
}

.filler {
  //height: 182px;
}

.logo {
  height: 100%;
  width: 42px;
}

.title {
  //background: #725A9A;
 // color: #725A9A;
  padding: 2px 8px;
  border-radius: 2px;
  font-weight: 500;
  align-items: center;
  //font-family: "cormorant-garamond";
  font-family: "oswald";
  font-size: 32px;
  em {
    font-family: "niconne";
  }
}

.example-header {
  position: fixed;
  z-index: 100;
  opacity: 0.7;
  font-weight: 600;
  font-size: 22px;
  font: 500 30px "fanwood-text";
  .mat-toolbar-single-row {
    height: 158px;
  }
  padding: 72px 144px;
  top: 0;
}

.example-footer {
  position: absolute;
  //bottom: -88px;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 100;
  margin-top: 64px;
  font: 500 14px "oswald";
  padding: 16px 144px;
  background: black;
  li {
    padding: 0 5px;
  }
}

.center {
  justify-content: center;
  width: 100%;
}

.copyrights {
  color: white;
}

.router-wrapper {
  padding-top: 182px;
  padding-bottom: 102px;
  padding-right: 144px;
  padding-left: 144px;
}

@media all and (max-width: 1400px) and (min-width: 1200px) {

  .router-wrapper, .example-header {
    padding-right: 72px;
    padding-left: 72px;
  }
}

@media all and (max-width: 1200px) and (min-width: 900px) {

  .router-wrapper, .example-header {
    padding-right: 18px;
    padding-left: 18px;
  }
}
