<ng-container>

  <mat-toolbar class="example-header">

    <ul class="header-ul">

      <li><img class="logo" src='/assets/icons/favicon.png' alt="Logo"></li>
      <li class="title">CAREER TIPS <em> first hand </em><div class="subtitle-summary">Unsolicited advice from people with experience in the field</div></li>
      <li class="header-right">
      <li>
        <button mat-button (click)="goToHomePage();">
          Home
        </button>
      </li>
      <li>
        <button mat-button (click)="goToUserPage();">User</button>
      </li>
      <li>
        <button mat-button (click)="$event.stopPropagation(); showDialog();" icon="pi pi-envelope" label="Contact">Contact</button>
      </li>
      <li *ngIf="!isLogged" >
        <button mat-button (click)="login();">Login</button>
      </li>
      <li *ngIf="isLogged">
        <button mat-button (click)="logout();">Logout</button>
      </li>

    </ul>

  </mat-toolbar>

  <p-dialog class="info" header="Contact Form" [(visible)]="displayDialog" [style]="{width: '50vw'}" [baseZIndex]="10000">

    <form *ngIf="inputForm" [formGroup]="inputForm" class="form">

      <ul>

        <li>
          <h6>If you have a message or a question for the creators of this site, regarding anything at all, do let us know! We will be happy to read it and contact you back if that is your wish.</h6>
        </li>
        <li>
          <h6>Your Email:</h6>
          <input pInputText id="email"
            class="form-control"
            type="email"
            formControlName="email"
            required
            placeholder="Type Your Email Here"
            maxlength="320"/>
          <div [hidden]="email.valid || email.untouched">
            <div *ngIf="email.errors && email.errors.required" class="error">
                Email is required
            </div>
            <div *ngIf="email.errors && email.errors.email" class="error">
                Email is invalid
            </div>
          </div>
        </li>
        <li>
          <h6>Your message</h6>
          <textarea id="message" class="form-control" formControlName="message" required placeholder="Type Your Message Here" maxlength="2000"></textarea>
          <div [hidden]="message.valid || message.untouched">
            <div *ngIf="message.errors && message.errors.required" class="error">
                Message is required
            </div>
          </div>
        </li>

      </ul>

    </form>

    <ng-template pTemplate="footer">

      <div #btncontainer style="display:inline-block;position:relative">

      <button pButton
        icon="pi pi-check"
        (click)="onSubmit();
        displayDialog=false"
        label="Yes"
        class="p-button-text"
        pTooltip="{{!inputForm.valid ? 'Before Submitting a Message You Must Fill All Required Fields' : ''}}"
        [appendTo]="btncontainer"
        [disabled]="!inputForm.valid"></button>

      <button pButton icon="pi pi-times" (click)="displayDialog=false; resetForm()" label="Cancel" class="cancel"></button>

      </div>

    </ng-template>

  </p-dialog>

  <p-dialog class="info" header="Contact Form" [(visible)]="displayDialog2" [style]="{width: '50vw'}" [baseZIndex]="10000">

    <div [hidden]="isLogged">
      <h6>If you have a message or a question for the creators of this site, regarding anything at all, do let us know! Send a note to <b>throughthecodingglass@gmail.com</b>. We will be happy to read it and contact you back if that is your wish.
        <br>
        <br>
      Career Tips Team</h6>
    </div>

  </p-dialog>

  <div class="router-wrapper">
    <router-outlet></router-outlet>
  </div>

  <div style="position: fixed; left: calc(50% - 225px); top: 20%; z-index: 2000;" class="modal-container">
    <div style="position: relative; top: -20%;">
      <router-outlet name='modal'></router-outlet>
    </div>
  </div>

  <mat-toolbar class="example-footer">
    <ul class="row center">
      <li><a routerLink="/home/legal/terms">Terms of Services</a></li>
      <li><a routerLink="/home/legal/privacy">Privacy Policy</a></li>
      <li><a routerLink="/home/legal/cookies">Cookies Policy</a></li>
      <li class="copyrights">© 2020 Career Tips. All rights reserved.</li>
    </ul>
  </mat-toolbar>

  <p-sidebar [(visible)]="!consentEnabled"
    [closeOnEscape]="false"
    [showCloseIcon]="false"
    [style]="{height:'3.5em'}"
    [dismissible]="false"
    position="bottom">
    <ul class="row center">
      <li>By using this website you acknowledge that you have read, understood and give consent to our
        <a routerLink="/home/legal/terms">Terms of Services</a>, <a routerLink="/home/legal/privacy">Privacy Policy</a> and <a routerLink="/home/legal/cookies">Cookies Policy</a>.
      </li>
      <li><button pButton class="transparent btn-border" (click)="saveConsent();" label="OK"></button></li>
    </ul>
  </p-sidebar>

</ng-container>
