<div *ngIf="post">
  <mat-card>
    <!-- <mat-card-title>{{'Never give up' | uppercase}}</mat-card-title> -->
    <mat-card-subtitle>
      <div class="black">
        {{post.jobTitle | uppercase}}
      </div>
<!--      <div class="middle">
        Never give up
      </div> -->
      <div class="info">
        <em>{{post.name}}</em>
        <b> ON </b>
        {{post.time?.toDate() | date:'mediumDate'}}
      </div>
    </mat-card-subtitle>
    <!-- <mat-card-title>{{'Never give up' | uppercase}}</mat-card-title> -->
    <mat-card-content>{{post.message?.trim()}}</mat-card-content>
    <mat-card-actions>
      <div [hidden]="!likedByUser" class="red">
        <button mat-button (click)="$event.stopPropagation(); addLike();">
          <mat-icon fontSet="fa" fontIcon="fa-heart"></mat-icon>
          Liked {{' (' + numberOfLikes + ')'}}</button>
      </div>
      <div [hidden]="likedByUser">
          <button mat-button (click)="$event.stopPropagation(); addLike();">
            <mat-icon fontSet="fa" fontIcon="fa-heart"></mat-icon>Like {{' (' + numberOfLikes + ')'}}</button>
      </div>
      <div *ngIf="showBottomWidget">
        <button mat-button  (click)="$event.stopPropagation(); showDialog();">
          <mat-icon fontSet="fa" fontIcon="fa-ellipsis-h"></mat-icon>Report</button>
      </div>
      <div *ngIf="!showBottomWidget">
        <button mat-button>
          <mat-icon fontSet="fa" fontIcon="fa-ellipsis-v"></mat-icon>Show more</button>
    </div>
    </mat-card-actions>
  </mat-card>
</div>

    <p-dialog class="info" header="Report inappropriate content" [(visible)]="displayReportDialog" [style]="{width: '50vw'}" [baseZIndex]="10000">
      <form *ngIf="inputForm" [formGroup]="inputForm" class="form">
        <ul>
          <li>
            <h6>Please fill out the form below if you think the content of this post or any of its comment are inappropriate. Provide as many details as possible regarding the content you are reporting. We will take your report very seriously and take appropriate action.</h6>
          </li>
          <li>
            <h6>Your message about the content you are reporting</h6>
            <textarea formControlName="message" required placeholder="Type Your Message Here" maxlength="500"></textarea>
          </li>
        </ul>
      </form>
      <ng-template pTemplate="footer">
        <div #btncontainer  style="display:inline-block;position:relative">
        <button pButton
          icon="pi pi-check"
          (click)="onSubmit();
          displayReportDialog=false"
          label="Yes"
          class="p-button-text"
          pTooltip="{{!inputForm.valid ? 'Before Submitting a Message You Must Fill All Required Fields' : ''}}"
          [appendTo]="btncontainer"
          [disabled]="!inputForm.valid"></button>
        <button pButton icon="pi pi-times" (click)="displayReportDialog=false; resetForm()" label="Cancel" class="cancel"></button>
      </div>
      </ng-template>
    </p-dialog>
