<div class="container">
  <p-tabView [activeIndex]="index" (onChange)="navigate($event)">
    <p-tabPanel header="Terms of Service">
      <h1>Terms of Service</h1>

      <p>These Terms of Service (“Terms”) describe our commitments to you, and your rights and responsibilities when
        using
        our services. These Terms govern your access to and use of career-tips.org. For some of our services, and
        programs
        such as Firebase, Google Analytics, additional Terms of Service may apply and will be posted on the respective
        websites. Our Services are offered subject to your acceptance, without modification, of all of the terms and
        conditions contained herein and all other operating rules, policies (including, without limitation, our Privacy
        Policy). You agree that we may automatically upgrade our Services.</p>

      <h2>1. Who’s Who</h2>
      <p>Throughout these Terms, “you” applies to both individuals and entities that access or use our Services. If you
        are an individual using our Services on behalf of an entity, you represent and warrant that you have the
        authority
        to bind that entity to the agreement with this Terms and that by using our Service(s), you are accepting the
        Terms
        on behalf of that entity. We refer to creaters of this site (main one being Alice Codes) collectively as
        “career-tips” or “we” throughout these Terms.</p>
      <h2>2. Your Account</h2>
      <p>Where use of our Services requires an account, you agree to provide us with complete and accurate information
        when you register for an account and keep the information current. This is important because sometimes we may
        need
        to send you notable updates (for example, about changes to our Terms of Service or Privacy Policy), or we may
        want
        to let you know about and make informed choices in response to legal inquiries or complaints.
        You will be solely responsible and liable for any activity that occurs under your account. You are responsible
        for
        keeping your account information up-to-date and for keeping your password secure.
        You are responsible for maintaining the security of your account and any Service-related website, store, or
        other
        content, and you are fully responsible for all activities that occur under your account and any other actions
        taken in connection with our Services. You shall not share or misuse your access credentials. You must
        immediately
        notify us of any unauthorized uses of your account, store, or website, or of any other breach of security. We
        will
        not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such
        acts or omissions.
        When you create a career-tips.org account, we consider that to be an inquiry about our services, which means
        that
        we may contact you through mail – for example for registration, password reset, reply to your email etc. This
        will
        be done only if it is necessary for the website to work properly or on your request.</p>
      <h2>2. Minimum Age Requirements</h2>
      <p>Our Services are not directed to children. Access to and use of our Services is only for those over the age of
        18.</p>
      <h2>3. Responsibility of Visitors and Users</h2>
      <p>We have not reviewed, and cannot review, all of the content (such as, but not limited to, text) posted to our
        Services by users or anyone else (“Content”) and are not responsible for any use or effects of such Content. So,
        for example:
        <br>- We do not endorse any Content or represent that Content is accurate, useful, or non-harmful. Content could
        be
        offensive, indecent, or objectionable; include technical inaccuracies, typographical mistakes, or other errors;
        or
        violate or infringe the privacy, publicity rights, intellectual property rights (you may report it, if you find
        it
        anywhere on our site!) or other proprietary rights of third parties.
        <br>- If you post Content, comment on a website, or otherwise make (or allow any third party to make) Content
        available on our Services, you are entirely responsible for the Content, and any harm resulting from, that
        Content
        or your conduct.
        <br>- We disclaim any responsibility for any harm resulting from anyone’s use, purchase, or downloading of
        Content.
        If
        you access or use any Content, you are responsible for taking precautions as necessary to protect yourself and
        your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content.
        <br>- We are not a party to, and will have no responsibility or liability for, any communications, transactions,
        interactions, or disputes between you and the provider of any Content.
        <br>- Please note that additional third party terms and conditions may apply to the downloading, copying,
        purchase,
        or
        use of Content.
        We also have not reviewed, and cannot review, all of the material, including computer software, made available
        through the websites and web pages that link to, or are linked from, career-tips.org or our other Services. For
        example:
        <br>- We do not have any control over those websites and are not responsible for their contents or their use.
        <br>- The existence of a link to or from one of our Services does not represent or imply that we endorse such
        website.
        <br>- You are responsible for taking precautions as necessary to protect yourself and your computer systems from
        viruses, worms, Trojan horses, and other harmful or destructive content.
        <br>- We disclaim any responsibility for any harm resulting from career-tips websites. </p>

      <h2>4. General Representation and Warranty</h2>
      <p>You represent and warrant that your use of our Services:
        <br>- Will be in strict accordance with these Terms;
        <br>- Will comply with all applicable laws and regulations (including, without limitation, all applicable laws
        regarding online conduct and acceptable content, privacy, data protection, the transmission of technical data
        exported from the country in which you reside, the use of financial services, notification and consumer
        protection, unfair competition, and false advertising);
        <br>- Will not use the Services for any unlawful purposes, to publish illegal content, or in furtherance of
        illegal
        activities;
        <br>- Will not infringe or misappropriate the intellectual property rights of any third party;
        <br>- Will not overburden career-tips’s systems, as determined by us in our sole discretion;
        <br>- Will not disclose sensitive personal information of others;
        <br>- Will not be used to send spam or bulk unsolicited messages;
        <br>- Will not interfere with, disrupt, or attack any service or network; and
        <br>- Will not be used to create, distribute, or enable material that is - or that facilitates or operates in
        conjunction with - malware, spyware, adware, or other malicious programs or code.
      </p>
      <h2>
        5. Removing Content.
      </h2>
      <p>
        If you delete Content, we will use reasonable efforts to remove it from public view (or in the case of a private
        website, from view by the authorized visitors) on career-tips.org, but you acknowledge that caching or
        references
        to the Content may not be made immediately unavailable.
      </p>
      <h2>6. Third Party Services</h2>
      <p>In using the Services, you may enable or use Third Party Services and you understand that:
        <br>- Third Party Services are not vetted, endorsed, or controlled by this website.
        <br>- Any use of a Third Party Service is at your own risk, and we shall not be responsible or liable to anyone
        for
        Third Party Services.
        <br>- Your use is solely between you and the respective third party (“Third Party”) and will be governed by the
        Third
        Party’s terms and policies. It is your responsibility to review the Third Party’s terms and policies before
        using
        a Third Party Service.
        <br>- Some Third Party Services may request or require access to your (yours, your visitors’, or customers’)
        data,
        for
        example, via a pixel or cookie. If you use the Third Party Service or grant access, your data will be handled in
        accordance with the Third Party’s privacy policy and practices. We do not have control over how a Third Party
        Service may use your data. You should carefully review Third Party Services’ data collection, retention, and use
        policies and practices before enabling Third Party Services.
        <br>- Third Party Services may not work appropriately, and we may not be able to provide support for issues
        caused
        by
        any Third Party Services.
        <br>- If you have questions or concerns about how a Third Party Service operates, or need support, please
        contact
        the
        Third Party directly.
        In rare cases, we may at our discretion, suspend, disable, or remove Third Party Services from your account or
        website.
      </p>
      <h2>7. Changes</h2>
      <p>
        We are constantly updating our Services and that means sometimes we have to change the legal terms under which
        our
        Services are offered. These Terms may be modified and will be available at the ‘Change logs’ in the last section
        of this document. The notice will designate a reasonable period of time after which the new terms will take
        effect. If you disagree with our changes, then you should stop using our Services within the designated notice
        period, or once the changes become effective. Your continued use of our Services will be subject to the new
        terms.
        However, any dispute that arose before the changes shall be governed by the Terms (including the binding
        individual arbitration clause) that were in place when the dispute arose.
      </p>
      <h2>8. Termination</h2>
      <p>
        We may terminate your access to all or any part of our Services at any time, with or without cause, with or
        without notice, effective immediately. We have the right (though not the obligation) to, in our sole discretion,
        (i) reclaim your username or website’s URL due to prolonged inactivity, (ii) refuse or remove any content that,
        in
        our reasonable opinion, violates any of our policy or is in any way harmful or objectionable, (iii) ask you to
        make some adjustments, restrict the resources your website uses, or terminate your Services, if we believe your
        website’s storage or bandwidth usage is out of hand and/or burdens our systems (which is rare and typically only
        occurs when a website is used for file sharing or storage), or (iv) terminate or deny access to and use of any
        of
        our Services to any individual or entity for any reason. We will have no obligation to provide a refund of any
        amounts previously paid.
        If you wish to terminate the agreement with this Terms, you can delete your career-tips.org account and simply
        discontinue using our Services.
      </p>
      <h2>9. Disclaimer of Warranties</h2>
      <p>
        Our Services are provided “as is.” We disclaim all warranties of any kind, express or implied, including,
        without
        limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. We don’t
        make any warranty that our Services will be error free or that access thereto will be continuous or
        uninterrupted.
        You understand that you download from, or otherwise obtain content or services through, our Services at your own
        discretion and risk.
      </p>
      <h2>10. Limitation of Liability</h2>
      <p>
        In no event will we be liable with respect to any subject matter of your agreement with the Terms under any
        contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or
        consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption
        of
        use or loss or corruption of data. We shall have no liability for any failure or delay due to matters beyond
        their
        reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.
      </p>
      <h2>11. Indemnification</h2>
      <p>
        You agree to indemnify and hold harmless us from and against any and all losses, liabilities, demands, damages,
        costs, claims, and expenses, including attorneys’ fees, arising out of or related to your use of our Services,
        including but not limited to your violation of the agreement with the Terms or any agreement with a provider of
        third-party services used in connection with the Services, Content that you post, and any activities conducted
        through career-tips.org website.
      </p>
    </p-tabPanel>
    <p-tabPanel header="Privacy Policy">
      <h1>Privacy Policy</h1>
      <h2>We Are and What This Policy Covers</h2>
      <p>Hi! We are the folks behind this website. My name is Alice Codes and I am the main creator and designer. This
        Privacy Policy applies to information that the site collects about you when you use this website
        (www.career-tips.org). Please note that this Privacy Policy does not apply to any of the website’s Services,
        like Firebase, that have a separate privacy policy. Below we explain how this website collects, uses, and shares
        information about you, along with the choices that you have with respect to that information. Throughout this
        Privacy Policy we’ll refer to our website and its Services collectively as “Services.” The template that serves
        as a basis for this Privacy Policy, is taken from Automattic who made their Privacy Policy available under a
        Creative Commons Sharealike license (you can find the template here: https://automattic.com/privacy/). The
        security of your Personal Information is very important to us, but no method of electronic storage is 100%
        secure. While we strive to protect your Personal Information, we cannot guarantee its absolute security. We
        refer to creaters of this site (main one being Alice Codes) collectively as “career-tips” or “we” throughout
        these Terms.
      </p>
      <h3> Information We Collect</h3>
      <p>We only collect information about you if we have a reason to do so — for example, to provide the Services (such
        as Login, Register, writing and reading messages and comments to different generations), to communicate with
        you, or to make the mentioned Services better. We collect this information from three sources: if and when you
        provide information to me using this website, automatically through operating the Services, and from outside
        sources. Let’s go over the information that are collected.
        Information You Provide to Us
        It’s probably no surprise that we collect information that you provide to us directly. Here are some examples:
        <br>- Basic account information: We ask for basic information from you in order to set up your account. For
        example,
        we require individuals who sign up for a Career Tips account to provide an email address and password, along
        with a username or name — and that’s it. You may provide us with more information — like your decade of your
        birth and other information you want to share — but we don’t require that information to create a
        career-tips.org account.
        <br>- Public profile information: If you have an account with us, we collect the information that you provide
        for
        your public profile. For example, if you have a career-tips.org account, your ‘name or nickname’ is part of that
        public profile. Your public profile information is just that — public — so please keep that in mind when
        deciding what information you would like to include.
        <br>- Content information: You might provide us with information about you in draft and published content (a
        post or
        comment that includes biographic information about you, or any media or files you upload).
        <br>- Communications with us (hi there!): You may also provide us with information when you write us an email or
        message through form. When you communicate with us via form, email, career-tips.org comment, or otherwise, we
        store a copy of our communications.
        <br>- When you first visit the page, you see a banner at the bottom of the page telling you that by using
        www.career-tips.org you agree with our Terms, Privacy Policy and Cookie Policies. We store that consent into
        your browser's local storage, where it resides up to one year. Each year that passes you must again confirm that
        you agree.
        Information We Collect Automatically
        We also collect some information automatically:
        <br>- Log information: Like most online Service providers, we collect information that web browsers, mobile
        devices,
        and servers typically make available, including the browser type, IP address, unique device identifiers,
        language preference, referring site, the date and time of access, operating system, and mobile network
        information. We collect log information when you use our Services — for example, when you create or make changes
        to your profile on career-tips.org.
        <br>- Usage information: We collect information about your usage of our Services. For example, we collect
        information about the actions that users perform on a site using our career-tips.org — in other words, who did
        what and when (e.g., [career-tips.org username] deleted “[title of post]” at [time/date]). We also collect
        information about your device (e.g., screen size, name of cellular network). We use this information to, for
        example, provide our Services to you, get insights on how people use our Services so we can make our Services
        better, and understand and make predictions about user retention.
        <br>- Interactions with other users’ sites: We collect some information about your interactions with other
        users’
        sites while you are logged in to your account with us, such as your “Likes” and the fact that you commented on a
        particular post, so that we can display that to you on the User page (www.career-tips.org/users).
        <br>- Information from cookies & other technologies: A cookie is a string of information that a website stores
        on a
        visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. Pixel
        tags (also called web beacons) are small blocks of code placed on websites and emails. Automattic uses cookies
        and other technologies like pixel tags to help us identify and track visitors, usage. For more information about
        our use of cookies and other technologies for tracking, including how you can control the use of cookies, please
        see our Cookie Policy.
        Information We Collect from Other Sources
        We may also get information about you from other sources. For example, if you create or log in to your
        career-tips.org account through another Service (like Google) or if you connect your account to a social media
        Service (like Facebook), we’ll receive information from that Service (e.g., your username, basic profile
        information, friends list) via the authorization procedures for that Service. We use this information to make a
        login and registration easier for users. Please refer to the terms of the respective providers for further
        guidance:
        <br>- Google https://policies.google.com/privacy
        <br>- Facebook https://www.facebook.com/policy.php
      </p>
      <h2> How and Why We Use Information</h2>
      <h3> Purposes for Using Information</h3>
      <p>
        We use information about you for the purposes listed below:
        <br>- To provide our Services. For example, to set up and maintain your account, provide customer Service and
        verify
        user information.
        <br>- To ensure quality, maintain safety, and improve our Services. For example, by providing automatic upgrades
        and
        new versions of our Services. Or, for example, by monitoring and analyzing how users interact with our Services
        so we can create new features that we think our users will enjoy and that will help them create and manage
        websites more efficiently or make our Services easier to use.
        <br>- To protect our Services, our users, and the public. For example, by detecting security incidents;
        detecting
        and protecting against malicious, deceptive, fraudulent, or illegal activity; fighting spam; complying with our
        legal obligations; and protecting the rights and property of our Services, which may result in us, for example,
        declining a transaction or terminating Services.
        <br>- To fix problems with our Services. For example, by monitoring, debugging, repairing, and preventing
        issues.
        <br>- To communicate with you. For example, if you write us an email or reach us through contact form, we may
        reply.
      </p>
      <h3> Legal Bases for Collecting and Using Information</h3>
      <p>
        A note here for those in the European Union about our legal grounds for processing information about you under
        EU data protection laws, which is that our use of your information is based on the grounds that:
        (1) The use is necessary in order to fulfill our commitments to you under the applicable terms of Service or
        other agreements with you or is necessary to administer your account — for example, in order to enable access to
        our website on your device; or
        (2) The use is necessary for compliance with a legal obligation; or
        (3) The use is necessary in order to protect your vital interests or those of another person; or
        (4) We have a legitimate interest in using your information — for example, to provide and update our Services;
        to improve our Services so that we can offer you an even better user experience; to safeguard our Services; to
        communicate with you; and to understand our user retention and attrition; to monitor and prevent any problems
        with our Services; and to personalize your experience; or
        (5) You have given us your consent — for example before we place certain cookies on your device and access and
        analyze them later on, as described in our Cookie Policy.
      </p>
      <h2> Sharing Information</h2>
      <h3> How We Share Information</h3>
      <p>
        We share information about you in limited circumstances, and with appropriate safeguards on your privacy. These
        are spelled out below:
        <br>- Third-party vendors: We may share information about you with third-party vendors who need the information
        in
        order to provide their Services to us, or to provide their Services to you or your site. This includes vendors
        that help us provide our Services to you (like Firebase, which powers FireStore and FireAuth - cloud storage
        Services and authentication services for login and registration. You can find more on their Privacy Policy Here:
        - https://firebase.google.com/support/privacy
        <br>- Legal and regulatory requirements: We may disclose information about you in response to a subpoena, court
        order, or other governmental request.
        <br>- To protect rights, property, and others: We may disclose information about you when we believe in good
        faith
        that disclosure is reasonably necessary to protect the property or rights of this website, third parties, or the
        public at large. For example, if we have a good faith belief that there is an imminent danger of death or
        serious physical injury, we may disclose information related to the emergency without delay.
        <br>- With your consent: We may share and disclose information with your consent or at your direction. For
        example,
        we may share your information with third parties when you authorize us to do so, like when you connected your
        site to a social media Service through our registration/login.
        <br>- Published support requests: If you send us a request for assistance (for example, via a support email or
        one
        of our other feedback mechanisms), we reserve the right to publish that request in order to clarify or respond
        to your request, or to help us support other users.
        We have a long-standing policy that we do not sell our users’ data. We aren’t a data broker, we don’t sell your
        personal information to data brokers, and we don’t sell your information to other companies that want to spam
        you with marketing emails.
      </p>
      <h3> Information Shared Publicly</h3>
      <p>
        Information that you choose to make public is — you guessed it — disclosed publicly.
        That means information like your public profile, posts, other content that you make public on your website, and
        your “Likes” and comments on other websites are all available to others — and we hope they get a lot of views!
        For example, your name and other public profile information, displays alongside the posts, comments and “Likes”
        that you make on the website while logged in to your career-tips.org account.
        Please keep all of this in mind when deciding what you would like to share publicly.
      </p>
      <h3> How Long We Keep Information</h3>
      <p>
        We generally discard information about you when it’s no longer needed for the purposes for which we collect and
        use it — described in the section above on How and Why We Use Information — and we’re not legally required to
        keep it.
        For example, the data you provide for your profile are stored for maximum one month after you change it or
        delete it. You can delete or change any post, comment and like you yourself write. You can delete your account
        anytime – all your posts, comments and user data will be deleted as well.
      </p>
      <h2> Security</h2>
      <p>
        While no online Service is 100% secure, we work very hard to protect information about you against unauthorized
        access, use, alteration, or destruction, and take reasonable measures to do so. We monitor our Services for
        potential vulnerabilities and attacks.
      </p>
      <h2> Choices</h2>
      <p>
        You have several choices available when it comes to information about you:
        <br>- Limit the information that you provide: If you have an account with us, you can choose not to provide the
        optional account information, profile information. Please keep in mind that if you do not provide this
        information, certain features of our Services — for example, writing posts and comments — may not be accessible.
        <br>- Set your browser to reject cookies: At this time, this website does not respond to “do not track” signals
        across all of our Services. However, you can usually choose to set your browser to remove or reject browser
        cookies before using this website, with the drawback that certain features of Automattic’s websites may not
        function properly without the aid of cookies.
        <br>- Opt out of our internal analytics program: You can do this through your user settings. By opting out, you
        will
        stop sharing information with our analytics tool about events or actions that happen after the opt-out, while
        you’re logged in to your career-tips.org account. For more information, please see our Cookie Policy.
        <br>- Close your account: While we’d be very sad to see you go, you can close your account if you no longer want
        to
        use our Services. (Visit www.career-tips.users and click on the tab 'User Profile' There is an option 'Delete my
        account'.) Please keep in mind that we may continue to retain your information after closing your account, as
        described in How Long We Keep Information above — for example, when that information is reasonably needed to
        comply with (or demonstrate our compliance with) legal obligations such as law enforcement requests, or
        reasonably needed for our legitimate business interests.
      </p>
      <h2> Your Rights</h2>
      <p>
        If you are located in certain parts of the world, including California and countries that fall under the scope
        of the European General Data Protection Regulation (aka the “GDPR”), you may have certain rights regarding your
        personal information, like the right to request access to or deletion of your data.
      </p>
      <h3> European General Data Protection Regulation (GDPR)</h3>
      <p>
        If you are located in a country that falls under the scope of the GDPR, data protection laws give you certain
        rights with respect to your personal data, subject to any exemptions provided by the law, including the rights
        to:
        <br>- Request access to your personal data;
        <br>- Request correction or deletion of your personal data;
        <br>- Object to our use and processing of your personal data;
        <br>- Request that we limit our use and processing of your personal data; and
        <br>- Request portability of your personal data.
        You also have the right to make a complaint to a government supervisory authority.
      </p>
      <h3> California Consumer Privacy Act (CCPA)</h3>
      <p>
        The California Consumer Privacy Act (“CCPA”) requires us to provide California residents with some additional
        information about the categories of personal information we collect and share, where we get that personal
        information, and how and why we use it.
        The CCPA also requires us to provide a list of the “categories” of personal information we collect, as that term
        is defined in the law, so, here it is. In the last 12 months, we collected the following categories of personal
        information from California residents, depending on the Services used:
        <br>- Identifiers (like your name, contact information, and device and online identifiers);
        <br>- Characteristics protected by law (for example, you might provide your decade of birth);
        <br>- Internet or other electronic network activity information (such as your usage of our Services);
        <br>- Geolocation data (such as your location based on your IP address);
        <br>- Audio, electronic, visual or similar information (such as your profile name);
        You can find more information about what we collect and sources of that information in the Information We
        Collect section above.

        If you are a California resident, you have additional rights under the CCPA, subject to any exemptions provided
        by the law, including the right to:
        <br>- Request to know the categories of personal information we collect, the categories of business or
        commercial
        purpose for collecting and using it, the categories of sources from which the information came, the categories
        of third parties we share it with, and the specific pieces of information we collect about you;
        <br>- Request deletion of personal information we collect or maintain;
        <br>- Opt out of any sale of personal information; and
        <br>- Not receive discriminatory treatment for exercising your rights under the CCPA.
      </p>
      <h3> Contacting Us About These Rights</h3>
      <p>
        You can usually access, correct, or delete your personal data using your account settings and tools that we
        offer, but if you aren’t able to or you’d like to contact us about one of the other rights, scroll down to “How
        to Reach Us” to, well, find out how to reach us.
        When you contact us about one of your rights under this section, we’ll need to verify that you are the right
        person before we disclose or delete anything. For example, if you are a user, we will need you to contact us
        from the email address associated with your account. You can also designate an authorized agent to make a
        request on your behalf by giving us written authorization. We may still require you to verify your identity with
        us.
      </p>
      <h2> How to Reach Us</h2>
      <p>
        If you have a question about this Privacy Policy, or you would like to contact us about any of the rights
        mentioned in the Your Rights section above, please contact us through our email: throughthecodingglass@gmail.com
      </p>
      <h2> Other Things You Should Know (Keep Reading!)</h2>
      <h3> Analytics Services Provided by Others</h3>
      <p>
        Other parties may also provide analytics Services via our Services. These analytics providers may set tracking
        technologies (like cookies) to collect information about your use of our Services and across other websites and
        online Services. These technologies allow these third parties to recognize your device to compile information
        about you or others who use your device. This information allows us and other companies to, among other things,
        analyze and track usage, determine the popularity of certain content, and deliver ads that may be more targeted
        to your interests. Please note this Privacy Policy only covers the collection of information by this website and
        does not cover the collection of information by any third-party advertisers or analytics providers.
      </p>
      <h3> Third-Party Software and Services</h3>
      <p>
        Some third-party Services may request or require access to your (yours, your visitors’, or customers’) data via
        a pixel or cookie. Please note that if you use the third-party Service or grant access, your data will be
        handled in accordance with the third party’s privacy policy and practices. We don’t own or control these third
        parties, and they have their own rules about information collection, use, and sharing, which you should review
        before using the software or Services. We use Firebase and Google Analytics – to read more about their Privacy
        Policy, follow the links below:
        - https://firebase.google.com/terms/analytics
        - https://firebase.google.com/support/privacy
      </p>
      <h2> Privacy Policy Changes</h2>
      <p>
        Although most changes are likely to be minor, we may change its Privacy Policy from time to time. We encouragee
        visitors to frequently check this page for any changes to its Privacy Policy. If we make changes, we will notify
        you by revising the change log below, and, in some cases, we may provide additional notice (like adding a
        statement to our homepage or the career-tips.org, or sending you a notification through email or your
        dashboard). Your further use of the Services after a change to our Privacy Policy will be subject to the updated
        policy
      </p>
      <h2> Change log</h2>

    </p-tabPanel>
    <p-tabPanel header="Cookie Policies">
      <p>
        Our Privacy Policy explains our principles when it comes to the collection, processing, and storage of your
        information. This policy specifically explains how we, our partners, and users of our services deploy cookies,
        as well as the options you have to control them.
      </p>
      <h2>
        What are cookies?
      </h2>
      <p>
        Cookies are small pieces of data, stored in text files, that are stored on your computer or other device when
        websites are loaded in a browser. They are widely used to "remember" you and your preferences, either for a
        single visit (through a "session cookie") or for multiple repeat visits (using a "persistent cookie"). They
        ensure a consistent and efficient experience for visitors, and perform essential functions such as allowing
        users to register and remain logged in. Cookies may be set by the site that you are visiting (known as "first
        party cookies"), or by third parties, such as those who serve content or provide advertising or analytics
        services on the website ("third party cookies"). Both websites and HTML emails may also contain other tracking
        technologies such as "web beacons" or "pixels." These are typically small transparent images that provide us
        with statistics, for similar purposes as cookies. They are often used in conjunction with cookies, though they
        are not stored on your computer in the same way. As a result, if you disable cookies, web beacons may still
        load, but their functionality will be restricted.
      </p>
      <h2>
        How we use cookies
      </h2>
      <p>
        We use cookies for a number of different purposes. Some cookies are necessary for technical reasons; some enable
        a personalized experience for both visitors and registered users; and some allow the display of advertising from
        selected third party networks. Some of these cookies may be set when a page is loaded, or when a visitor takes a
        particular action (clicking the "like" or "follow" button on a post, for example). Many of the cookies we use
        are only set if you are a registered WordPress.com user (so you don’t have to log in every time, for example),
        while others are set whenever you visit one of our websites, irrespective of whether you have an account. For
        more information on the choices you have about the cookies we use, please see the Controlling Cookies section
        below.
      </p>
      <h2>
        Where we place cookies
      </h2>
      <p>
        We set cookies on our website career-tips.org.
      </p>
      <h2>
        Types of Cookie
      </h2>
      <p>
        The table below explains the types of cookies we use on our websites and why we use them.
      </p>
      <h2>
        Category of cookies
      </h2>
      <h3>
        Why we use these cookies
      </h3>
      <h4>
        Strictly Necessary
      </h4>
      <p>
        These cookies are essential for websites on our services to perform their basic functions. These include those
        required to allow registered users to authenticate and perform account related functions.
      </p>
      <h4>
        Functionality
      </h4>
      <p>
        These cookies are used to store preferences set by users such as profile name.
      </p>
      <h4>
        Security
      </h4>
      <p>
        We use these cookies to help identify and prevent potential security risks.
      </p>
      <h4>
        Analytics and Performance
      </h4>
      <p>
        Performance cookies collect information on how users interact with our websites, including what pages are
        visited most, as well as other analytical data. We use these details to improve how our websites function and to
        understand how users interact with them.
      </p>
      <h4>
        Third Party / Embedded Content
      </h4>
      <p>
        In order for our website to work in an optimized way we use third party services (Firebase for saving and Google
        Analytics for improving user experience and Facebook for easier login). As a result, cookies may be set by these
        third parties, and used by them to track your online activity. We have no direct control over the information
        that is collected by these cookies.
        <br>
        - More information about Google Analytics:
        <br>
        https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage
        <br>
        - More information about Firebase:
        <br>
        https://firebase.google.com/support/privacy
        <br>
        - More information about Facebook:
        <br>
        https://www.facebook.com/policy/cookies/
        <br>
      </p>

      <h2>
        What is Local Storage?
      </h2>
      <p>
        A local storage is a file created by a website in your device. Cookies are just one type of local storage, but
        there are others. It is important that you know them so you can block them or delete the data stored by them:
        <br>- Browser local storage. Some websites use the browser's "sessionStorage" and "localStorage" to store data;
        "sessionStorage" is stored temporarily, but the “localStorage” is persistent. You may erase them by deleting
        your browser's history.
        <br>- Flash local storage ("Flash Local Shared Objects"). Flash is a browser plug-in used to add Interactive and
        multimedia content into websites. Flash can store data in your device.
        <br>- Silverlight local storage ("Isolated Objects"). Silverlight is a browser plug-in used to add Interactive and
        multimedia content into websites. Silverlight can store data in your device.
        <br>- A web beacon is a tracking method that consists of an image embedded into a website. When your browser
        connects to the server where the image is located to download it, your access is tracked. Some times web beacons
        are very small or transparent images so the user is not aware of them.
      </p>
      <h2>
        How Do We Use Local Storage?
      </h2>
      <p>
        We use browser local storage in order to remove the banner that pops up when you first visit our website -
        banner that informs you that by using this website you agree to our Terms, Privacy Policy and Cookie policies.
        Local storage may be used by the third parties mentioned under ‘Types of Cookies’, and used by them to track
        your online activity. We have no direct control over the information that is collected by them.
      </p>
      <h2>
        Controlling Cookies
      </h2>
      <p>
        Visitors may wish to restrict the use of cookies or completely prevent them from being set. Most browsers
        provide for ways to control cookie behavior such as the length of time they are stored – either through built-in
        functionality or by utilizing third party plugins. If you disable cookies, please be aware that some of the
        features of our service may not function correctly. To find out more on how to manage and delete cookies, visit
        aboutcookies.org. Each browser has its own rules how to disable them:
        <br>
        - Microsoft Edge – https://support.microsoft.com/en-us/hub/4338813/windows-help
        <br>
        - Google Chrome – https://support.google.com/accounts/answer/61416?hl=en
        <br>
        - Safari – https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac
        <br>
        - Mozilla Firefox – https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences
        <br>
        - Opera – https://help.opera.com/en/latest/web-preferences/#cookies
        <br>
        For more details on your choices regarding use of your web browsing activity
        visit www.youronlinechoices.eu (EU based) or optout.aboutads.info (US based).
        On a mobile device, you may also be to adjust your settings to limit tracking.
      </p>
      <h2>Contact Us</h2>
      <p>
        If you have any questions about our use of cookies, please contact us through mail
        ‘throughtthecodingglass@gmail.com.
      </p>
    </p-tabPanel>
  </p-tabView>
</div>
