.main-content {
  display: flex;
  //background: darkseagreen;
  //spremenjenomargin: 0px 144px;
}

.left, .right {
 padding: 72px;
}

.right {
  padding: 0px 72px;
  //padding-top: 72px;
  //padding-left: 0px;
  flex-basis: 70%;
  padding-right: 0px;
}

.right-inner {
  padding-right: 16px;
 // min-width: 690px;
}


.left {
 // display: flex; //fix
//  flex-basis: 35%;
flex-basis: 30%;
min-width: 430px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 36px;
  //background: #456361;
background: #4C6251;
border-radius: 4px;
height: max-content;
}

.mat-list-base {
  padding: 48px 0px;
}

.mat-list-base {
  //background: #3E5440;
  //background: #456361;
  .mat-list-item {
    color: white;
    font: 500 22px 'lateef';
  }
}

.example-spacer {
  flex: 2 2 auto;
 // width: 100%;
  display: flex;
}

.subcategory {
  flex: 1 1 auto;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  transition: all 2s;
}

.main-list {
  //fix background: #B4DBC0;
  //background: #456361;
  //padding: 24px;
}

.main-list li {
  margin-bottom: 4px;
}

.mat-option {
  font-family: 'cormorant-garamond';
}

.mat-toolbar {
//  margin-bottom: 36px;
//fix background: lightsalmon;
//border: 2px solid white;
//background: #53A493;
//background: #F1B67A;
//background: darkkhaki;
//background: #1E1E20;
}

.no-posts {
  font-family: 'inconsolata';
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  color: #1E1E20;
  //background: beige;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
}

.search-results {
  font-family: "oswald";
  margin-top: 15px;
  margin-bottom: 15px;
  color: #1E1E20;
  em {
    background: indianred;
    color: white;
    display: inline-block;
    padding: 0 16px;
    border-radius: 16px;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  min-height: 47px;
  justify-content: space-between;
  .subcategory.hidden {
    display: none;
  }
  .subcategory {
    padding: 14px;
    display: flex;
    align-items: center;
    //background: #D6C691;
    //background: #F3C49C;
    background: beige;
    border-radius: 4px;
    font-family: "inconsolata";
    color: #1E1E20;
    font-weight: bold;
    margin-right: 20px;
   // min-width: 35%;
  }
}

@media all and (max-width: 1200px) and (min-width: 0px) {

  .right-inner {
    padding-right: 0px;
    //min-width: 500px;
  }

  .right {
    padding-right: 0px;
    padding-left: 10px;
  }

  .left {
    min-width: 340px;
    padding-top: 6px;
    padding-right: 0px;
    padding-left: 0;
  }
}

@media all and (max-width: 930px) and (min-width: 520px) {

  .left {
    min-width: 240px;
  }

  .toolbar {
    flex-wrap: wrap-reverse;
  }

  .toolbar div {
    margin-bottom: 6px;
  }

  .mat-list-base {
    padding: 0;
    .mat-list-item {
      font-size: 18px;
    }
  }
}

@media all and (max-width: 520px) and (min-width: 0px) {

  .left, .subcategory {
    display: none !important;
  }

  .right {
    flex-basis: 100%;
  }

  .toolbar {
    flex-wrap: wrap-reverse;
  }

  .example-spacer, .write {
    margin-bottom: 4px;
  }
}
