.main-content {
  display: flex;
  //background: darkseagreen;
  margin: 0px 144px;
}

.left, .right {
 padding: 72px;
}

.right {
  padding: 0px 72px;
  //padding-top: 72px;
  //padding-left: 0px;
  flex-basis: 70%;
  padding-right: 0px;
}

.right-inner {
  padding-right: 16px;
}

.left {
 // display: flex; //fix
//  flex-basis: 35%;
flex-basis: 30%;
  padding-top: 24px;
  //background: #456361;
background: #4C6251;
border-radius: 4px;
}

.mat-list-base {
  padding: 48px 0px;
}

.mat-list-base {
  //background: #3E5440;
  //background: #456361;
  .mat-list-item {
    color: white;
    font: 500 24px/32px 'lateef' 'oranienbaum';
  }
}

.example-spacer {
  flex: 2 2 auto;
 // width: 100%;
  display: flex;
}

.subcategory {
  flex: 1 1 auto;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  transition: all 2s;
}

.main-list {
  //fix background: #B4DBC0;
  //background: #456361;
  //padding: 24px;
}

.main-list li {
  margin-bottom: 4px;
}

.mat-option {
  font-family: 'cormorant-garamond';
}

.mat-toolbar {
//  margin-bottom: 36px;
//fix background: lightsalmon;
//border: 2px solid white;
//background: #53A493;
//background: #F1B67A;
//background: darkkhaki;
//background: #1E1E20;
}

.no-posts {
  font-family: 'inconsolata';
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  color: #1E1E20;
  //background: beige;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
}

.search-results {
  font-family: "oswald";
  margin-top: 15px;
  //padding-right: 16px;
//  border-left: 4px solid indianred;
  margin-bottom: 15px;
  color: #1E1E20;
  //: white;
  em {
  background: cadetblue;
  color: white;
  //font-weight: bold;
  //border-radius: 4px;
//  border-left: 4px solid #1E1E20;
  display: inline-block;
  padding: 0 16px;
  margin: 0 16px;
  border-radius: 16px;
  }
  //background: linear-gradient(90deg, beige, transparent);
}

.toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  min-height: 47px;
  .subcategory.hidden {
    display: none;
  }
  .subcategory {
    padding: 14px;
    display: flex;
    align-items: center;
    //background: #D6C691;
    //background: #F3C49C;
    background: beige;
    border-radius: 4px;
    font-family: "inconsolata";
    color: #1E1E20;
    font-weight: bold;
    //border: 1px solid gray;
    margin-right: 20px;
    min-width: 35%;
  }
}
