.main-content {
  display: flex;
  //background: darkseagreen;
  margin: 0px 90px;
}

.left, .right {
 padding: 72px;
}

.right {
  padding: 0px 72px;
  //padding-top: 72px;
  //padding-left: 0px;
  flex-basis: 65%;
}

.right-inner {
  padding-right: 16px;
}

.left {
 // display: flex; //fix
//  flex-basis: 35%;
flex-basis: 35%;
  padding-top: 24px;
  //background: #456361;
background: #4C6251;
}

.mat-list-base {
  padding: 48px 0px;
}

.mat-list-base {
  //background: #3E5440;
  //background: #456361;
  .mat-list-item {
    color: white;
    font: 500 24px/32px 'lateef' 'oranienbaum';
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.subcategory {
  flex: 2 2 auto;
}

.main-list {
  //fix background: #B4DBC0;
  //background: #456361;
  //padding: 24px;
}

.main-list li {
  margin-bottom: 4px;
}

.mat-option {
  font-family: 'cormorant-garamond';
}

.mat-toolbar {
//  margin-bottom: 36px;
//fix background: lightsalmon;
//border: 2px solid white;
//background: #53A493;
//background: #F1B67A;
//background: darkkhaki;
//background: #1E1E20;
}

.toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  .subcategory {
    padding: 14px;
    display: flex;
    align-items: center;
    //background: #D6C691;
    //background: #F3C49C;
    background: beige;
    border-radius: 4px;
    font-family: "inconsolata";
    color: #1E1E20;
    font-weight: bold;
    //border: 1px solid gray;
  }
}
