h6 {
  color: #27363B !important;
  font-size: 16px;
  margin-bottom: 3px;
  font-family: "inconsolata";
}

li {
  padding: 15px 0px;
 // background-color: #27363B
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #27363B;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #27363B;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #27363B;
}

textarea, input {
  width: 100%;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  padding: 7px;
  font-family: "inconsolata";
}

h4 {
  margin-top: 10px;
  color: indianred;
}

h6 {
  min-width: 330px;
}

textarea {
  height: 450px;
}

.row {
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    min-width: 20%;
  }
}

@media all and (max-width: 1300px) and (min-width: 521px) {
  textarea {
    height: 300px;
  }
}

@media all and (max-width: 520px) and (min-width: 0px) {
  textarea {
    height: 250px;
  }

  h6 {
    min-width: 230px;
  }
}
