<ul class="thirds row">
  <li class="first-third">
    <button mat-button class="primary-btn" (click)="goHome();"><mat-icon fontSet="fa" fontIcon="fa-arrow-left"></mat-icon>Back</button>
  </li>
  <li class="second-third">
    <div *ngIf="!post" class="not-found">
      This post no longer exists.
    </div>
    <div *ngIf="post" class="main-container column">
      <div class="section first">
        <app-card [post]='post' [showBottomWidget]="true"></app-card>
      </div>

      <div class="section second">
        <p-toggleButton [(ngModel)]="addComment" class="basic-btn basic-dark-btn" onLabel="Add a comment" offLabel="Add a Comment" onIcon="pi pi-minus" offIcon="pi pi-plus"></p-toggleButton>
        <div *ngIf="addComment" class="collapsable">
          <form *ngIf="inputForm" [formGroup]="inputForm" class="form">
            <textarea formControlName="comment" required placeholder="Type Your Comment Here" maxlength="500"></textarea>
          </form>
          <div *ngIf="!user" class="link">
            <a [routerLink]="['/home', {outlets: {modal: ['login']}}]" queryParamsHandling="merge">
            Make sure you are logged in before commenting.</a>
          </div>
          <div class="btn-wrap">
              <button mat-button class="primary-btn btn-border" (click)="onSubmit();
              displayDialog=false" [disabled]="!inputForm.valid || !user"><mat-icon fontSet="fa" fontIcon="fa-paper-plane"></mat-icon>Post a comment</button>
          </div>
        </div>
      </div>

      <div class="section third">
        <p-toggleButton [(ngModel)]="viewComments" class="basic-btn basic-dark-btn" offLabel="View Comments" onLabel="Hide Comments" offIcon="pi pi-plus" onIcon="pi pi-minus"></p-toggleButton>
        <div *ngIf="viewComments && comments" class="collapsable">
          <ul>
            <li *ngFor="let comment of comments;">
              <app-comment [comment]="comment"></app-comment>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
  <li class="third-third"></li>
</ul>
