.header {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 40px;
}

li.row {
 // background: whitesmoke;
  padding: 20px;
  margin: 10px;
}

.image {
  width: 100%;
}

.basic-btn {
  background: transparent !important;
  color: darkslategray;
  font-weight: bold;
}

.threads {
  background-color: #9DBDA1;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%), linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%), linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%), linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
  background-size: 14px, 1px, 1px, 4px;
  li.row {
    padding-left: 20px;
    margin-left: 10px;
    border-bottom: 1px solid;
  }
  button {
    background-color: white !important;
  }
}

.profile {
  padding-top: 30px;
}

.margin-bottom {
  margin-bottom: 15px;
  margin-left: 30px;
  font-family: 'inconsolata';
  .mat-icon {
    color: darkslategray;
    font-size: 22px;
  }
  button {
    font-family: 'inconsolata';
    background-color: transparent;
    margin: 5px;
  }
}

.white {
  color: darkslategray;
  margin-left: 124px;
  width: inherit;
  font-weight: bold;
  font-family: 'inconsolata';
}

.profile {
  font-family: 'oswald';
}

.mat-raised-button {
  font-family: 'oswald';
  .mat-icon {
    height: 18px;
  }
}

.white-link {
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-top: 10px;
}

.emphasized {
  font-size: 1.2rem;
  color: darkslategray;
  // white-space: nowrap;
  word-wrap: anywhere;
  min-width: 170px;
}

input {
  width: 100%;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  padding: 7px;
  font-family: "inconsolata";
  margin-top: 0.5rem;
}

.pink {
  color: white;
  background: darksalmon;
}

.li-strech {
  width: 100%;
}

.row-strech {
  margin-bottom: 30px;
  // justify-content: space-between;
  li {
    margin: 0 30px;
  }
}

.right-margin {
  margin-right: 30px;
}

h6 {
  padding-bottom: 5px;
  font-size: 16px;
  color: white;
  /*   font-size: 20px;
  color: #EB4960; */
}

.card-container {
  min-width: 600px;
  max-width: 600px;
}

.popular-list ul li {
  border-bottom: 1px solid;
  padding: 20px;
  margin: 10px;
}

.empty {
  color: darkslategray;
  padding: 30px;

}

@media all and (max-width: 930px) and (min-width: 0px) {

  .link .white {
    display: none;
  }

  .right-margin {
    display: none;
  }

  .margin-bottom {
    margin-left: 0;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1 1 auto;
  }

  .row.margin-bottom {
    flex-wrap: wrap;
  }

  .card-container {
    min-width: unset;
    max-width: 400px;
  }

  .margin-bottom button {
    font-size: small;
  }

  .row-center:not(.profile) li {
    padding: 10px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
  }

  .profile {
    .row-strech {
      margin-bottom: 0;
      li {
        margin: 0 5px;
      }
    }

    .emphasized {
      min-width: unset;
    }

    .row {
      flex-wrap: wrap;
    }
    .li-strech {
      margin-bottom: 15px;
      border-radius: 8px;
      padding: 10px;
    }
  }
}
