.header{
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.row{
  margin-top: 0.5rem;
}

.error{
  color: #EB4960;
}

.success{
  color: #EB4960;
}

.small-font {
 font-size: small;
}

.btn-wrap {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
